@import "../vars";

$carousel-item-infobox-p-color: $manatee;
$carousel-item-infobox-text-color: $white;
$carousel-item-infobox-span: $accent-color;
$carousel-item-infobox-p-text: $heading-font-family;
$carousel-bg-color: $shark;
$slider-muted-color-bg: $manatee;

.carousel {
	position: relative;
}


.carousel-thumbnails {
	.carousel-indicators {

		margin: 0;
		position: relative;
		bottom: 0;
		background-color: $carousel-bg-color;
		z-index: 0;
		overflow: hidden;

		li {
			width: 500px;
			border: none;
			opacity: 0.3;
			height: 280px;
			margin: 0;
			padding: 64px 0 0 0;
			background-size: cover;
			background-position: 50% 50%;
			text-indent: 0;
			cursor: default;

			&.active {
				border-top: 5px solid $accent-color;
				opacity: 1;
			}

			.thumbnail {

				color: $carousel-item-infobox-text-color;

				&-highlight {
					font-size: 10px;
					background-color: $accent-color;
					border-radius: 3px;
					display: inline-block;
					padding: 5px 15px 5px 15px;
					font-weight: 700;
				}

				&-header {
					font-weight: 700;
					font-size: 18px;
					color: $white;
					font-family: $base-font-family;
				}

				&-date {
					font-size: 11px;
					color: $white;
					font-family: $base-font-family;
				}

				&-list {
					display: flex;
					font-size: 10px;
					padding-top: 25px;
				}

			}
		}

		.carousel-thumb {

			&-1 {
				background-image: url("/images/slider-image-1.jpg");
			}

			&-2 {
				background-image: url("/images/slider-image-2.jpg");
			}

			&-3 {
				background-image: url("/images/slider-image-3.jpg");
			}
		}

		.control {
			&-prev {
				margin-left: -15%;
			}

			&-next {
				margin-left: 15%;
			}

			&-prev,
			&-next {
				position: absolute;
				margin-top: 120px;
				align-items: center;
				justify-content: center;
				color: $white;
				text-align: center;
				width: 36px;
				height: 36px;
				border: 2px solid $accent-color;
				border-radius: 50%;
				padding-top: 5px;
				cursor: pointer;
			}
		}
	}

	.carousel-item {
		height: 640px;
		background-size: cover;
		background-position-y: 50%;

		&-1 {
			background-image: url("/images/slider-image-1.jpg");
		}

		&-2 {
			background-image: url("/images/slider-image-2.jpg");
		}

		&-3 {
			background-image: url("/images/slider-image-3.jpg");
		}

		.container-fluid {
			padding: 0;
			height: 100%;
			background-color: rgba(0, 0, 0, .3);

			.carousel-item-infobox {
				height: 100%;
				padding: 10% 0 0 3%;

				.fa-star {
					color: $candlelight;
				}

				h5,
				h2,
				p {
					color: $white;
				}

				h5 {
					font-size: 18px;
					font-weight: 700;
					margin-bottom: 0;
				}

				h2 {
					font-size: 64px;
					font-weight: 700;
					margin-bottom: 20px;

					span {
						color: $carousel-item-infobox-span;
					}
				}

				p {
					font-size: 15px;
					color: $carousel-item-infobox-p-color;
					font-family: $carousel-item-infobox-p-text;
				}

				.btn {
					background-color: rgba(0, 0, 0, 0);
					border: solid $white;
					border-radius: 0;
					text-transform: uppercase;
					font-size: 11px;
					font-weight: 700;
					color: $white;
					width: 154px;
					height: 50px;
					margin-top: 25px;

					span {
						color: $carousel-item-infobox-span;
					}

					&:hover {
						background-color: $carousel-item-infobox-span;

						span {
							color: $white;
						}
					}
				}
			}
		}
	}
}



.content-slider-container {
	border-radius: 5px;

	.carousel-item {
		background-size: cover;
		background-position-y: 50%;
		height: 410px;
		border-radius: 5px;

	}

	.carousel-inner {
		border-radius: 5px;
	}



	.content-slider-item {


		&-1 {
			background-image: url("/images/slider-image-1.jpg");
		}

		&-2 {
			background-image: url("/images/slider-image-2.jpg");
		}

		&-3 {
			background-image: url("/images/slider-image-3.jpg");
		}
	}

	.carousel-control {

		&-prev,
		&-next {
			position: absolute;
			display: inline-block;
			color: $white;
			text-align: center;
			width: 20px;
			height: 20px;
			background-color: $accent-color;
			border-radius: 3px;
			top: 20px;
			opacity: 1;
			cursor: pointer;

			.fa-chevron-left,
			.fa-chevron-right {
				height: auto;
				width: 5px;
				padding-bottom: 5px;
			}
		}

		&-next {
			right: 2%;
		}

		&-prev {
			left: 92%;
			background-color: $slider-muted-color-bg;
		}

	}
}


.slider {

	&-content {
		padding: 0 0 0 30px;
		position: absolute;
		bottom: 7%;
	}

	&-highlight {

		&-purple,
		&-yellow {
			font-size: 10px !important;
			border-radius: 2px !important;
			padding: 3px 10px !important;
			margin-bottom: 12px !important;
		}
	}

	&-header {
		font-size: 35px;
		color: $white;
		font-family: $base-font-family;
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 1.5rem;
		line-height: 1.9rem;

		span {
			color: $accent-color;
		}
	}

	&-profile {
		&-pic {
			height: 25px;
			width: 25px;
			background: $accent-color;
			border-radius: 50%;
			position: absolute;
		}

		&-details {
			font-size: 11px;
			position: relative;
			display: inline;
			margin-left: 40px;
		}
	}

	&-overlay {
		background: rgba(0, 0, 0, .3);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;
	}
}