@import "../vars";

$header-bottom-bg-color: $shark;
$header-nav-bg-color: $header-bottom-bg-color;
$nav-sidebar-burger-btn-bg-color: $accent-color;
$nav-sidebar-burger-btn-color: $shark;
$nav-item-color: $white;
$nav-item-selected-color: $accent-color;
$nav-item-selected-border-color: $accent-color;
$nav-menu-divider-color: $nevada;
$main-menu-bg-color: $light-grey;
$main-content-bg-color: $white;
$footer-bg-color: $shark;
$footer-border-color:$accent-color;
$footer-p-color:$manatee;
$global-variant-color: $variant-color;
$global-heading-dark-color: $oxford-blue;
$global-muted-color: $manatee;
$stats-muted-btn: $manatee;
$global-section-border-color: $athens-gray;
$card-heading-color: $oxford-blue;
$card-text-muted-color: $manatee;

/**********************************************
* Global
***********************************************/

body {
	background-color: $body-bg-color;
}

/**********************************************
* Header
***********************************************/

.navbar {
	height: 48px;
	background-color: $light-grey;
	font-size: 9px;
	font-weight: 700;
	text-transform: uppercase;
}

.menu-divider {
	color: $nav-menu-divider-color !important;
}


header {
	background-color: $header-bottom-bg-color;
}

.logo {
	height: 152px;
}

.search-container {
	height: 90px;
	font-size: 9px;
	font-weight: 700;
	text-transform: uppercase;

	.form-control {
		font-size: 11px;
	}

	.balance {
		font-size: 11px;
		color: $accent-color;
	}
}

.search-bar {
	background-color: $light-grey;
	border-radius: 25px
}

// #search-row {
// 	position: relative;
// 	top: 50%;
// 	margin-top: -18px;
// }


.main-menu-container {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;

	.navbar-nav {
		padding-left: 36px;
	}

	.nav-link {
		height: 60px;
		padding: 22px 29px 0 29px !important;

		&.fb-icon,
		&.tw-icon,
		&.gp-icon {
			padding: 22px 0px 0 24px !important;
		}

		&.burger-icon {
			padding: 20px 0 0 0 !important;
		}

	}
}

.nav-item {

	&.active {
		border-bottom: 2px solid $nav-item-selected-border-color;

		a {
			color: $nav-item-selected-color;
		}

	}
}

.main-menu-bg {
	position: absolute;
	height: 62px;
	border-left: 30px solid $header-nav-bg-color;
	border-bottom: 62px solid transparent;
	background-color: $main-menu-bg-color;
}

.nav-link {
	color: $nav-item-color;

	&:hover {
		color: $nav-item-selected-color;
	}
}




.sidebar-burger-button {
	width: 65px;
	background-color: $nav-sidebar-burger-btn-bg-color;
	color: $nav-sidebar-burger-btn-color;
	z-index: 4;

	a {
		padding-top: 18px;
		height: 62px;
	}

	span {
		color: $muted-color;
	}
}

/**********************************************
* Main Content
***********************************************/

.main-content-container {
	padding: 60px 15px;

	.content {

		// GLOBAL CONTENT

		&-left {
			padding-right: 10px;
		}

		&-right {
			padding-left: 6px;
		}

		&-featured-news,
		&-latest-news,
		&-slider-container,
		&-card-container,
		&-card-small-container,
		&-card-horizontal-container,
		&-list-group,
		&-banner-container,
		&-playoffs-standings,
		&-social-facebook,
		&-social-twitter,
		&-social-rss,
		&-popular-news,
		&-banner-small,
		&-results,
		&-trending-news,
		&-advertisement,
		&-newsletter,
		&-next-match {
			background-color: $main-content-bg-color;
			width: 100%;
			margin: 0 0 16px 0;
			display: block;
			border-radius: 5px;
			box-shadow: 0px 0px 0 1px #e4e7ed;
			padding: 0;
		}

		// LEFT CONTENT

		//Headers

		&-featured-news,
		&-playoffs-header-container,
		&-popular-news-header,
		&-results-header-container,
		&-trending-news-header,
		&-latest-news-header-container,
		&-advertisement-header,
		&-newsletter-header,
		&-next-match-header {
			border-left: 5px solid $accent-color;
			position: relative;
			height: 74px;
			padding: 0;
			border-bottom: 1px solid $global-section-border-color;

			.stats {
				font-size: 8px;
				font-weight: 400;
				border: 1px solid $stats-muted-btn;

			}
		}

		&-header-container,
		&-playoffs-title-container,
		&-popular-news-title-container,
		&-results-title-container,
		&-trending-news-title-container,
		&-latest-news-header-title-container,
		&-advertisement-title-container,
		&-newsletter-title-container,
		&-next-match-title-container {
			display: flex;
			align-items: center;
			height: 100%;

			h3 {
				font-family: $base-font-family;
				font-size: 16px;
				font-weight: 700;
				text-transform: uppercase;
				text-align: left;
				margin: 0;
			}
		}



		&-popular-news-header,
		&-results-header {
			padding: 0;
		}

		&-slider-container {
			height: 410px;
		}

		&-banner-container {
			height: 410px;
			background-image: url("/images/banner-image-1.jpg");
			background-size: 100%;
		}

		&-card {
			&-row {
				padding: 0 15px;
			}

			&-left,
			&-left-small {
				padding: 0 8px 0 0;
			}

			&-right,
			&-right-small {
				padding: 0 0 0 8px;
			}

			&-small-container {
				height: 484px;

				h5 {
					margin-bottom: 0;
				}
			}

			&-horizontal {

				&-body {
					min-height: 313px;
				}

				&-container {
					height: 370px;



					.card-floating-icon {
						left: 20px;
						top: 20px;
					}

					.card-date {
						margin-bottom: 1.5rem;
					}

					.card-text {
						font-size: 15px;
					}

					.fa-heart {
						color: $global-muted-color;
					}

					.card-body {
						min-height: 313px;
					}

					.card-img-container {
						height: 370px;
						border-top-left-radius: 5px;
						border-bottom-left-radius: 5px;
						border-top-right-radius: 0px;
					}


				}
			}
		}

		&-card-container,
		&-list-group {
			height: 620px;

			&-ul {
				li {
					padding: 1.2rem 1.45rem 0 1.45rem;
				}
			}

			.list-group {



				&-item {
					border-top: none !important;
					border-left: none !important;
					border-right: none !important;
					margin: 0;

					&:last-child {
						border: none;
					}
				}


				&-header {
					font-size: 16px;
					color: $global-heading-dark-color;
					font-family: $base-font-family;
					text-transform: uppercase;
					font-weight: 700;
					margin-bottom: 0.6rem;
					line-height: 1.2rem;
				}

				&-date {
					font-size: 10px;
					color: $global-muted-color;
					font-family: $base-font-family;
					text-transform: uppercase;
					font-weight: 400;
					margin-bottom: .9rem;
				}

				&-text {
					font-size: 14px;
					color: $global-muted-color;
					font-family: $heading-font-family;
					font-weight: 400;
					line-height: 1.4rem;
					margin-bottom: 2rem;
				}


			}
		}

		// RIGHT CONTENT

		&-playoffs {
			&-standings {
				padding: 0;
			}

			&-list {
				&-container {
					padding: 0;
				}

				&-item {
					border-top: none;
					border-left: none;
					border-right: none;
					padding: 13px 0 13px 5px;
					margin: 0;


					&:last-child {
						border-bottom: none;
					}

					&-row {
						padding: 0;
						display: flex;
						align-items: center;
						margin: 0;
					}

					&-team,
					&-score {

						font-family: $base-font-family;
						font-size: 11px;
						font-weight: 400;
						text-transform: uppercase;
						color: $global-heading-dark-color;

						p {
							margin: 0;
							text-align: center;

						}

						&-title {
							font-family: $base-font-family;
							font-size: 11px;
							font-weight: 700;
							text-transform: uppercase;
							color: $global-heading-dark-color;

							p {
								margin: 0;
								text-align: center;
							}
						}
					}

					&-team {
						&-title {

							padding-right: 0;

							p {
								text-align: left;
								line-height: .8rem;
							}
						}

						&-info {

							padding: 0;
							display: inline;
							align-items: center;
							margin: 0;

							&-row {
								padding: 0;
								display: flex;
								align-items: center;
								margin: 0;
							}

						}

						&-number {
							font-family: $base-font-family;
							font-size: 11px;
							font-weight: 400;
							color: $global-muted-color;
							padding-left: 0;

							span {
								color: $global-heading-dark-color;
							}
						}

						&-logo {
							height: 30px;
							width: 30px;
							padding-left: 5px;
							padding-right: 39px;
						}

						&-name {
							font-family: $base-font-family;
							font-size: 12px;
							font-weight: 400;
							color: $global-heading-dark-color;
							text-transform: none;
						}

						&-institute {
							font-family: $base-font-family;
							font-size: 9px;
							font-weight: 400;
							color: $global-muted-color;
							text-transform: none;
						}

					}

				}
			}
		}

		&-social-facebook,
		&-social-twitter,
		&-social-rss {
			height: 66px;
		}

		&-social {

			&-facebook {
				background-color: #4d6baa;

				&-icon {
					background-color: #43609c;
				}
			}

			&-twitter {
				background-color: #3fcef2;

				&-icon {
					background-color: #38c2e5;
				}
			}

			&-rss {
				background-color: #ffcc00;

				&-icon {
					background-color: #ffbf13;
				}
			}

			&-facebook,
			&-twitter,
			&-rss {

				&-row {
					display: flex;
					align-items: center;
					margin: 0;
				}

				&-icon,
				&-add {
					text-align: center;
				}

				&-icon {
					height: 66px;
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
					padding-top: 21px;
				}

				&-add {

					&-wrapper {
						height: 25px;
						width: 25px;
						border: 2px solid $white;
						border-radius: 50%;
						text-align: center;
					}

					.fa-plus {
						height: auto;
						width: 10px;
						padding: 0px 0 3px 2px;
					}
				}

				&-info {

					&-title,
					&-likes {
						font-family: $base-font-family;
						font-size: 13px;
						font-weight: 700;
						color: $white;
						text-transform: uppercase;
					}

					&-likes {
						font-size: 10px;
					}

					&-container {
						padding: 0;
						display: flex;
						align-items: center;
						margin: 0;
					}

					p {
						margin: 0;
					}
				}
			}
		}

		&-popular-news {

			&-container {
				padding: 0;
			}

			&-list {

				&-item {
					display: inline;
					align-items: center;
					border-top: none;
					border-left: none;
					border-right: none;
					padding: 23px;
					margin: 0;

					&:last-child {
						border-bottom: none;
					}

					&-row {
						padding: 0;
						margin: 0;
					}

					&-image {
						height: 80px;
						width: 80px;
						background-color: $global-heading-dark-color;
					}

					&-info {

						padding-right: 0;

						.list-group-header {
							font-family: $base-font-family;
							font-size: 13px;
							font-weight: 700;
							text-transform: uppercase;
							color: $global-heading-dark-color;
							margin-bottom: .1rem;
							line-height: 0.8rem;
						}

						.list-group-date {
							font-family: $base-font-family;
							font-size: 10px;
							font-weight: 400;
							color: $global-muted-color;
							margin: 0;

						}

						.banner-highlight {

							&-yellow,
							&purple {
								font-size: 8px;
								padding: 2px 9px;
							}
						}
					}
				}
			}
		}

		&-banner-small {

			&-bg {
				background-size: cover;
				background-image: url("/images/player-bg.png");
				height: 200px;
				width: 100%;
				border-radius: 5px;
			}

			&-uniform {
				position: absolute;
				top: 1px;
				z-index: 0;
				padding-left: 1px;

				img {
					border-bottom-left-radius: 5px;
				}
			}

			&-info {

				display: flex;
				padding: 0 0 0 12rem;
				text-align: center;

				&-data {
					padding: 0 .5rem;
				}

				&-row {
					display: flex;
					position: absolute;
					top: 0;
					z-index: 1;
				}

				&-header {
					display: flex;
					margin: 1.5rem 1rem 1rem 9rem;
					padding: 0;

					.text-large {
						font-size: 56px;
						line-height: 2.7rem;
						padding-right: 5px;
					}

					h3 {
						font-family: $base-font-family;
						font-size: 24px;
						font-weight: 700;
						text-transform: uppercase;
						color: $white;
						line-height: 1.4rem;

						.yellow {
							color: $accent-color;
						}
					}
				}

				&-title {
					font-family: $base-font-family;
					font-size: 10px;
					font-weight: 700;
					text-transform: uppercase;
					color: $white;
					margin-bottom: 15px;
				}

				&-score {
					font-family: $base-font-family;
					font-size: 18px;
					font-weight: 700;
					text-transform: uppercase;
					color: $white;
					margin-bottom: 0px;
					line-height: 0.5rem;
				}

				&-avg {
					font-family: $base-font-family;
					font-size: 8px;
					font-weight: 700;
					text-transform: uppercase;
					color: $global-muted-color;
					line-height: 1.4rem;
				}

				&-featured-player {

					display: inline-flex;
					padding: .7rem 0 0 15.8rem;

					h3,
					.fa-star {
						font-family: $base-font-family;
						font-size: 9px;
						font-weight: 700;
						text-transform: uppercase;
						color: $white;
					}

					h3 {
						padding-left: 5px;
					}

					.fa-star {
						color: $accent-color;
					}
				}
			}
		}

		&-results {
			height: 728px;
		}

		&-trending-news {

			.filter-container {
				padding: 0;
				text-align: center;
			}

			&-item {
				position: relative;
				display: block;
				border-top: none !important;
				border-left: none !important;
				border-right: none !important;
				margin: 0;

				&:last-child {
					border: none;
				}

				.list-group {

					&-header {
						font-family: $base-font-family;
						font-size: 13px;
						font-weight: 700;
						text-transform: uppercase;
						color: $global-heading-dark-color;
						margin-bottom: .5rem;
						line-height: 0.9rem;
					}

					&-date {
						font-family: $base-font-family;
						font-size: 10px;
						font-weight: 400;
						color: $global-muted-color;
					}

					&-text {
						font-family: $heading-font-family;
						font-size: 14px;
						font-weight: 400;
						color: $global-muted-color;
						margin-bottom: .9rem;
					}
				}

				.banner-highlight {

					&-yellow,
					&-purple,
					&-orange {
						font-size: 8px;
						padding: 2px 9px;
					}
				}
			}

			&-filter {
				padding: .3rem 0;

				.btn {
					height: 100%;
					padding: 0 unset;
				}
			}

		}

		&-advertisement {

			&-advert {
				padding: 29px;

				a {
					img {
						height: 250px;
						width: 300px;
					}
				}
			}
		}

		&-newsletter {
			height: 294px;

			&-form {

				padding: 24px 20px 0 20px;

				&-title {
					font-family: $base-font-family;
					font-size: 13px;
					font-weight: 700;
					color: $global-heading-dark-color;
					margin-bottom: 1rem;
				}

				&-info {
					font-family: $heading-font-family;
					font-size: .8rem;
					font-weight: 400;
					color: $global-muted-color;
					margin-bottom: 2rem;
					padding-right: 0;

					&-email {
						font-family: $heading-font-family;
						font-size: 15px;
						font-weight: 400;
						color: $global-muted-color;
						height: 52px;
						width: 70%;
						border-top-left-radius: 3px !important;
						border-bottom-left-radius: 3px !important;
					}

					&-btn {
						width: 90px;
						font-family: $base-font-family;
						font-size: 12px;
						font-weight: 700;
						color: $white;
						text-transform: uppercase;
						background-color: $global-muted-color;
						border: none;
					}
				}
			}
		}

		&-next-match {
			height: 542px;

			&-panel {
				padding: 0;

				&-list {
					&-group {}

					&-item, &-item-clock {
						border-top: none !important;
						border-left: none !important;
						border-right: none !important;
						margin: 0;

						h1 {
							font-family: $base-font-family;
							font-size: 11px;
							font-weight: 700;
							text-transform: uppercase;
							color: $global-heading-dark-color;
							margin: 0;
							text-align: center;
						}

						&-clock {
							margin: 0 auto !important;
						}
					}
				}
			}

		}
	}
}

.card {
	background: none;
	border: none;

	&-row {
		margin: 0;
	}

	&-img {


		&-container {
			height: 270px;
			padding: 0;
			background: $card-heading-color;
			overflow: hidden;
			border-top-right-radius: 5px;
			position: relative;
		}

		&-top {
			height: 270px;
			background: $card-heading-color;
			width: auto;
			position: absolute;
		}

		&-left {
			height: 370px;
			width: auto;
		}
	}

	&-img-highlight {
		position: absolute;
		display: block;
		top: 22px;
		left: 22px;
		font-size: 10px !important;
		padding: 3px 11px !important;

		&-horizontal {
			position: relative;
			font-size: 10px !important;
			padding: 3px 11px !important;
			margin-bottom: 15px !important
		}
	}

	&-floating-icon {
		position: absolute;
		display: block;
		height: 50px;
		width: 50px;
		right: 20px;
		top: 245px;
		border-radius: 50%;
		background-color: $accent-color;
		text-align: center;
		padding-top: 14px;
	}

	&-date {
		font-family: $base-font-family;
		font-size: 11px;
		font-weight: 400;
		text-transform: uppercase;
		text-align: left;
		color: $card-text-muted-color;
	}

	&-title,
	&-title-horizontal {
		font-family: $base-font-family;
		font-size: 22px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: left;
		color: $card-heading-color;
		margin-bottom: 1.75rem;

	}

	&-title-horizontal {
		margin-bottom: 0.5rem;
	}

	&-text {
		font-family: $heading-font-family;
		font-size: 14px;
		font-weight: 400;
		text-align: left;
		color: $card-text-muted-color;
		margin-bottom: 30px !important;
	}

	.list-group-container {
		margin-top: 23px;
	}

	.list-group {
		height: 57px;
		display: flex;
	}

	.list-group-item {
		display: flex;
		align-items: center;
		height: 100%;
		border-bottom-right-radius: 5px;

		p {
			font-family: $base-font-family;
			font-size: 10px;
			font-weight: 400;
			text-transform: uppercase;
			text-align: left;
			color: $card-text-muted-color;
			margin: 0 0 0 10px;

		}

	}

	&-profile-container {
		display: flex;
		align-items: center;
		padding: 0;
	}

	&-profile-pic {
		height: 25px;
		width: 25px;
		background: $accent-color;
		border-radius: 50%;
		position: relative;
	}

	&-profile-stat-icons {
		display: flex;
		padding: 0;


		.fa-heart {
			color: #f1365e;
		}

		p {
			margin: 0 0 0 20px !important;
		}
	}

}

.global-variant-color {
	background-color: $global-variant-color;
}

/* Filter CSS */
.filters {

	button {
		font-family: $base-font-family;
		font-size: 11px;
		font-weight: 700;
		text-transform: uppercase;
		background: transparent;
		-webkit-box-shadow: none;
		box-shadow: none;
		outline: 0;
		color: $global-muted-color;

		span {
			// display: block;
			padding-bottom: 5px;
			-webkit-transition: border-color .4s ease-in-out;
			transition: border-color .4s ease-in-out;
		}

		&.active span {
			color: $global-heading-dark-color;
		}
	}

}



/**********************************************
* Footer
***********************************************/

.footer {
	&-wrapper {
		background-color: $footer-bg-color;
		padding: 0;
	}

	&-container {
		height: 470px;
		padding-top: 80px;
	}

	&-content {

		h5 {
			font-family: $base-font-family;
			font-size: 14px;
			font-weight: 700;
			color: $white;
			text-transform: uppercase;
			margin-bottom: 50px;
		}

	}

	&-nav {
		height: 62px;
	}

	&-logo {

		margin-top: 55px;

		img {
			height: 192px;
			width: auto;
		}

	}

	&-contact {

		&-text {
			font-family: $heading-font-family;
			font-size: 14px;
			color: $footer-p-color;
			margin-bottom: 32px;
			line-height: 24px;
		}


		&-us,
		&-tryouts,
			{
			font-family: $base-font-family;
			font-size: 9px;
			text-transform: uppercase;
			font-weight: 700;
			padding-left: 15px;
			margin-top: 28px !important;
		}

		&-tryouts {
			margin-top: 10px;
		}

		&-icon {
			padding-right: 15px;
		}


		&-social {

			.fb-icon,
			.tw-icon,
			.gp-icon {
				width: auto;
				height: 10px;
				padding-right: 10px;
			}

			.gp-icon {
				color: $accent-color;
			}

			.nav-link {
				padding: 0 0 0 15px;
				font-family: $base-font-family;
				font-size: 9px;
				text-transform: uppercase;
				font-weight: 700;
				margin-top: 20px;
			}

		}

	}

	&-news {

		&-title {
			margin-bottom: 35px !important;
		}

		&-header {
			font-size: 12px;
			color: $white;
			font-family: $base-font-family;
			text-transform: uppercase;
			font-weight: 700;
			margin-bottom: 5px;
		}

		&-date {
			font-size: 9px;
			color: $footer-p-color;
			font-family: $base-font-family;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
	}


	&-widget {

		&-row {
			display: flex;
			padding-right: 15px;
		}

		&-image {
			height: 75px;
			width: 75px;
			background-color: darkgray;
		}

		&-image-container {
			margin-bottom: 16px;
			display: block;
		}

		.btn {
			font-family: $base-font-family;
			font-size: 9px;
			text-transform: uppercase;
			font-weight: 700;
			width: 200px;
			height: 34px;
		}
	}

	&-navbar-wrapper {
		padding: 0;
		background: $footer-border-color;
		height: 62px;

		.nav-item {
			padding: 0 2em 0 2em;
		}

		.nav-link {
			height: 62px;
			padding-top: 25px;
			font-size: 11px;
		}
	}

	&-navbar {
		position: relative;
	}

	&-navbar-bg {
		position: absolute;
		height: 62px;
		margin-left: 26%;
		margin-right: 26%;
		width: 48%;
		border-right: 30px solid $footer-border-color;
		border-left: 30px solid $footer-border-color;
		border-top: 62px solid transparent;
		background-color: $footer-bg-color;
	}
}

.content,
.footer,
.slider,
.banner {
	&-highlight {

		&-purple,
		&-yellow,
		&-orange {
			font-size: 8px;
			border-radius: 3px;
			display: inline-block;
			padding: 2px 9px;
			font-weight: 700;
			margin-bottom: 8px;
		}

		&-purple {
			background-color: $variant-color;
		}

		&-yellow {
			background-color: $accent-color;
		}

		&-orange {
			background-color: $alter-color;
		}

	}
}

.banner {

	&-details-container {
		padding-top: 55px;
	}

	&-highlight {

		&-yellow,
		&-orange {
			font-size: 10px;
			padding: 3px 10px;
		}

		&-yellow {
			background-color: $accent-color;
		}

	}

	&-header {
		font-size: 30px;
		color: $white;
		font-family: $base-font-family;
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 0.5rem;
		line-height: 1.9rem;

		span {
			color: $accent-color;
		}
	}

	&-date {
		font-size: 11px;
		color: $card-text-muted-color
	}

	&-text {
		font-family: $heading-font-family;
		font-size: 15px;
		color: $card-text-muted-color
	}

	&-btn {
		background-color: rgba(0, 0, 0, 0);
		border: solid #fff;
		border-radius: 0;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: 700;
		color: #fff;
		width: 154px;
		height: 50px;
		margin-top: 25px;

		span {
			color: $carousel-item-infobox-span;
		}

		&:hover {
			background-color: $carousel-item-infobox-span;

			span {
				color: $white;
			}
		}
	}
}