@import "../vars";

$header-bottom-bg-color: $shark;
$header-nav-bg-color: $header-bottom-bg-color;
$nav-sidebar-burger-btn-bg-color: $accent-color;
$nav-sidebar-burger-btn-color: $shark;
$nav-item-color: $white;
$nav-item-selected-color: $accent-color;
$nav-item-selected-border-color: $accent-color;
$nav-menu-divider-color: $nevada;
$main-menu-bg-color: $light-grey;
$main-content-bg-color: $white;
$footer-bg-color: $shark;
$footer-border-color:$accent-color;
$footer-p-color:$manatee;
$global-variant-color: $variant-color;

/**********************************************
* Global
***********************************************/

body {
	background-color: $body-bg-color;
}

/**********************************************
* Header
***********************************************/

.navbar {
	height: 48px;
	background-color: $light-grey;
	font-size: 9px;
	font-weight: 700;
	text-transform: uppercase;
}

.menu-divider {
	color: $nav-menu-divider-color !important;
}


header {
	background-color: $header-bottom-bg-color;
}

.logo {
	height: 152px;
}

.search-container {
	height: 90px;
	font-size: 9px;
	font-weight: 700;
	text-transform: uppercase;

	.form-control {
		font-size: 11px;
	}

	.balance {
		font-size: 11px;
		color: $accent-color;
	}
}

.search-bar {
	background-color: $light-grey;
	border-radius: 25px
}

// #search-row {
// 	position: relative;
// 	top: 50%;
// 	margin-top: -18px;
// }


.main-menu-container {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;

	.navbar-nav {
		padding-left: 36px;
	}

	.nav-link {
		height: 60px;
		padding: 22px 29px 0 29px !important;

		&.fb-icon,
		&.tw-icon,
		&.gp-icon {
			padding: 22px 0px 0 24px !important;
		}

		&.burger-icon {
			padding: 20px 0 0 0 !important;
		}

	}
}

.nav-item {

	&.active {
		border-bottom: 2px solid $nav-item-selected-border-color;

		a {
			color: $nav-item-selected-color;
		}

	}
}

.main-menu-bg {
	position: absolute;
	height: 62px;
	border-left: 30px solid $header-nav-bg-color;
	border-bottom: 62px solid transparent;
	background-color: $main-menu-bg-color;
}

.nav-link {
	color: $nav-item-color;

	&:hover {
		color: $nav-item-selected-color;
	}
}




.sidebar-burger-button {
	width: 65px;
	background-color: $nav-sidebar-burger-btn-bg-color;
	color: $nav-sidebar-burger-btn-color;
	z-index: 4;

	a {
		padding-top: 18px;
		height: 62px;
	}

	span {
		color: $muted-color;
	}
}

/**********************************************
* Main Content
***********************************************/

.main-content-container {
	padding: 60px 15px;

	.content {

		// GLOBAL CONTENT

		&-left {
			padding-right: 10px;
		}

		&-right {
			padding-left: 6px;
		}

		&-featured-news,
		&-latest-news,
		&-slider,
		&-card,
		&-card-small,
		&-card-horizontal,
		&-list-group,
		&-banner,
		&-playoffs-standings,
		&-social-facebook,
		&-social-twitter,
		&-social-rss,
		&-popular-news,
		&-banner-small,
		&-results,
		&-trending-news,
		&-advertisement,
		&-newsletter,
		&-next-match {
			background-color: $main-content-bg-color;
			width: 100%;
			margin: 0 0 16px 0;
			display: block;
			border-radius: 5px;
			box-shadow: 0px 0px 0 1px #e4e7ed;
		}

		// LEFT CONTENT

		&-featured-news,
		&-latest-news {
			height: 74px;
		}

		&-slider {
			height: 410px;
		}

		&-banner {
			height: 410px;
		}

		&-card {
			&-row {
				padding: 0 15px;
			}

			&-left,
			&-left-small {
				padding: 0 8px 0 0;
			}

			&-right,
			&-right-small {
				padding: 0 0 0 8px;
			}

			&-small {
				height: 484px;
			}

			&-horizontal {
				height: 370px;
			}
		}

		&-card,
		&-list-group {
			height: 620px;
		}

		// RIGHT CONTENT

		&-playoffs-standings {
			height: 569px;
		}

		&-social-facebook,
		&-social-twitter,
		&-social-rss {
			height: 66px;
		}

		&-popular-news {
			height: 592px;
		}

		&-banner-small {
			height: 198px;
		}

		&-results {
			height: 728px;
		}

		&-trending-news {
			height: 1115px;
		}

		&-advertisement {
			height: 400px;
		}

		&-newsletter {
			height: 294px;
		}

		&-next-match {
			height: 542px;
		}
	}
}

/**********************************************
* Footer
***********************************************/

.footer {
	&-wrapper {
		background-color: $footer-bg-color;
		padding: 0;
	}

	&-container {
		height: 470px;
		padding-top: 80px;
	}

	&-content {

		h5 {
			font-family: $base-font-family;
			font-size: 14px;
			font-weight: 700;
			color: $white;
			text-transform: uppercase;
			margin-bottom: 50px;
		}

	}

	&-nav {
		height: 62px;
	}

	&-logo {

		margin-top: 55px;

		img {
			height: 192px;
			width: auto;
		}

	}

	&-contact {

		&-text {
			font-family: $heading-font-family;
			font-size: 14px;
			color: $footer-p-color;
			margin-bottom: 32px;
			line-height: 24px;
		}


		&-us,
		&-tryouts,
			{
			font-family: $base-font-family;
			font-size: 9px;
			text-transform: uppercase;
			font-weight: 700;
			padding-left: 15px;
			margin-top: 28px !important;
		}

		&-tryouts {
			margin-top: 10px;
		}

		&-icon {
			padding-right: 15px;
		}


		&-social {

			.fb-icon,
			.tw-icon,
			.gp-icon {
				width: auto;
				height: 10px;
				padding-right: 10px;
			}

			.gp-icon {
				color: $accent-color;
			}

			.nav-link {
				padding: 0 0 0 15px;
				font-family: $base-font-family;
				font-size: 9px;
				text-transform: uppercase;
				font-weight: 700;
				margin-top: 20px;
			}

		}

	}

	&-news {

		&-title {
			margin-bottom: 35px !important;
		}

		&-header {
			font-size: 12px;
			color: $white;
			font-family: $base-font-family;
			text-transform: uppercase;
			font-weight: 700;
			margin-bottom: 5px;
		}

		&-date {
			font-size: 9px;
			color: $footer-p-color;
			font-family: $base-font-family;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
	}

	&-highlight {
		&-purple, &-yellow {
			font-size: 8px;
			border-radius: 3px;
			display: inline-block;
			padding: 2px 9px;
			font-weight: 700;
			margin-bottom: 8px;
		}

		&-purple {
			background-color: $variant-color;
		}

		&-yellow {
			background-color: $accent-color;
		}
		
	}

	&-widget {

		&-row {
			display: flex;
			padding-right: 15px;
		}

		&-image {
			height: 75px;
			width: 75px;
			background-color: darkgray;
		}

		&-image-container {
			margin-bottom: 16px;
			display: block;
		}

		.btn {
			font-family: $base-font-family;
			font-size: 9px;
			text-transform: uppercase;
			font-weight: 700;
			width: 200px;
			height: 34px;
		}
	}

	&-navbar-wrapper {
		padding: 0;
		background: $footer-border-color;
		height: 62px;

		.nav-item {
			padding: 0 2em 0 2em;
		}

		.nav-link {
			height: 62px;
			padding-top: 25px;
			font-size: 11px;
		}
	}

	&-navbar {
		position: relative;
	}

	&-navbar-bg {
		position: absolute;
		height: 62px;
		margin-left: 26%;
		margin-right: 26%;
		width: 48%;
		border-right: 30px solid $footer-border-color;
		border-left: 30px solid $footer-border-color;
		border-top: 62px solid transparent;
		background-color: $footer-bg-color;
	}
}