@import "../vars";

@media only screen and (max-width: 600px) {
	.menu-divider {
		display: none;
	}

	.top-navbar {
		font-size: .5rem;
		margin: auto !important;

		.nav-link {
			padding: 0 0.3rem;
		}
	}

	.logo {
		text-align: center;
		margin-top: 2rem;
	}

	.search {
		&-container-wrapper {
			padding-left: 15px;
		}

		&-bar-container {
			padding: 0 15px !important;
			margin: 0;
		}
	}

	.joinUs,
	.contactUs,
	.yourBag {
		&-row-container {
			text-align: center;

		}
	}

	.joinUs,
	.contactUs,
	.yourBag {

		padding: 0 .5rem !important;

		&-row {
			display: inline-flex;
			margin: 1rem 0;
		}
	}

	#carousel-thumb {

		.carousel-item {
			height: auto;
		}

		.carousel-item-infobox {
			margin-left: 0 !important;
			padding: 5% !important;
		}
	}


	.carousel-thumbnails .carousel-indicators li {
		width: 100%;
		height: 200px;
		margin: 0;
		padding: 25px 0 0;
	}

	.carousel-indicators {

		.control-prev,
		.control-next {
			position: relative !important;
			margin: 1rem !important;
		}
	}

	.carousel-thumb {

		&-1,
		&-2,
		&-3 {
			display: none;
		}



	}

	.main-content-container {
		padding: 60px 15px 30px 15px;

		.content {

			&-left {
				padding-right: 15px !important;
			}

			&-right {
				padding-left: 15px !important;
			}

			&-card {

				&-left,
				&-right {
					padding: 0 !important;

					&-small {
						padding: 0 !important;
					}
				}
			}

			&-banner-container {
				background-size: cover;
			}
		}
	}

	.content-results-panel-list-item-mvp-data-row {

		.profile-container {
			.profile-pic-name {
				font-size: 11px !important;
			}

			.profile-pic-title {
				font-size: 8px !important;
			}
		}

	}

	.banner-details-container {
		margin: 15px 0 0 0;
		padding: 2rem 2rem;
		background-size: cover;
	}

	.content-slider-container {
		.carousel-control-prev {
			left: 81%;
		}

		.carousel-control-next {
			right: 6%;
		}

		.slider-header {
			font-size: 32px;
		}

	}

	.footer-container {
		padding-top: 0;

		.footer-contact-title {
			margin-bottom: 1rem;
		}

		.footer-contact-tryouts,
		.footer-contact-us,
		.footer-contact-text {
			margin: 0 !important;
		}

		.footer-contact-social .nav-link {
			margin-top: .5rem;
		}

		.footer-news-title,
			{
			margin-top: 3rem;
			margin-bottom: 1rem !important;
		}

		.footer-widget-title {
			margin-top: 2rem;
			margin-bottom: 1rem !important;
		}

		.footer-widget-image {
			margin: 0;
		}

	}

	.footer-navbar {
		&-wrapper {
			.navbar-toggler {
				margin: auto;

				.fa-angle-up {
					color: $oxford-blue;
				}
			}
		}

		.navbar-collapse {
			margin: 0;
		}

		.navbar-nav {
			position: absolute;
			bottom: 1.9rem;
			flex-direction: column;
			background-color: $light-grey;
			width: 100%;
			text-align: center;

		}
	}

	.main-menu-bg {
		border-left: 0;
	}

	.sidebar-burger-button {
		position: absolute;
		right: 0;
	}

	.navbar-toggler {
		background-color: $accent-color;
		margin-top: 0.7rem;

		&-icon {
			padding-top: .4rem;
			color: $oxford-blue;
		}
	}

	.navbar-collapse {
		margin-top: 3.8rem;
		position: absolute;
		z-index: 5;
		background-color: $light-grey;
		width: 100%;
		left: 0;
	}

	.main-menu-container {
		.navbar-nav {
			text-align: center;
			padding: 0;
			flex-direction: column;
		}

		.nav-link.fb-icon,
		.nav-link.tw-icon,
		.nav-link.gp-icon {
			padding: 22px 29px 0 !important
		}
	}

	.carousel {
		margin-top: .7rem;
	}


}