@import "../vars";

body {
	color: $body-text-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading-color;
	font-family: $heading-font-family;
}

h1 {
	font-size: $font-size-xl;
}

h2 {
	font-size: $font-size-l;
}

h3 {
	font-size: $font-size-m;
}

.text {
	&-accent {
		color: $accent-color;
	}
}