// === COLORS ===

$light-grey: #292c31;
$dark-grey: #1e2024;
$yellow: #ffdc11;
$text-grey: #6b6d70;
$text-lightgrey: #9a9da2;
$text-darkblue: #31404b;

// === FONTS ===

$font-montserrat: 'Montserrat', sans-serif;
$font-source-sans-pro: 'Source Sans Pro', sans-serif;
$f-9: 9px;
$f-10: 10px;
$f-11: 11px;
$f-12: 12px;