// grayscales

$black: #000;
$shark: #1e2024;
$light-grey: #292c31;
$oxford-blue: #31404b;
$nevada: #6b6d70;
$manatee: #9a9da2;
$white: #fff;
$athens-gray: #EDEFF4;
$athens-gray-2: #f5f7f9;


// colors
$candlelight: #ffdc11;
$amethyst: #9a66ca;
$pumpkin: #ff7e1f;
$amaranth: #f1365e;

// vars
$accent-color: $candlelight;
$variant-color: $amethyst;
$alter-color: $pumpkin;
$muted-color: $nevada;
$heart-color: $amaranth;

$body-bg-color: $athens-gray !default;
$heading-color: $oxford-blue !default;
$body-text-color: $white !default;
$base-font-family: 'Montserrat',
sans-serif;
$heading-font-family: 'Source Sans Pro',
sans-serif;
$base-font-size: 16px !default;
$font-size-xxs: 0.65em !default;
$font-size-xs: 0.75em !default;
$font-size-s: 0.8em !default;
$font-size-m: 1em !default;
$font-size-l: 2.25em !default;
$font-size-xl: 3em !default;
$font-size-xxl: 3.5em !default;